/*@media only screen and (min-width: 670px) and (max-width: 788px) {*/
@media only screen and (min-width: 641px) and (max-width: 788px) {
#wrapper{
	width:768px !important;
	overflow:hidden;

}
#header{
	width:748px !important;	
	overflow:hidden;
	margin:0 0 8px 0;
	}
#header-right{
	width:50% !important;
	}
	
/** MENU **/	
.header-menu{
	margin-top:8px;
	display:block !important;
	text-align:right;
	float:right;
}
/** LOGIN **/
#login-c{
	width:714px !important;
	float:left;
	margin-top:9px !important;
	}	
#login-c .col2{
	width:348px !important;
	}
#login-c .col2-lo{
	width:348px !important;	
}
#content{

	width:748px !important;
	overflow:hidden
	}
#magasins{
	width:360px !important;
	}
#magasins-top{
	background-image:url(images/magasins-top-tv.png) !important
	}
#occasions-top{
	background-image:url(images/occasions-top-tv.png) !important;
	}
#magasins-footer{
	background-image:url(images/magasins-footer-tv.png) !important;
	}
#occasions-footer{
	background-image:url(images/occasions-footer-tv.png) !important;
	}
.magasins-form select{
	width:196px;
	}
	.magasins-recherchez{

	padding:0 0 30px 0;
	}
.magasins-recherchez img{
	width:96px !important;
	height:auto !important
	}
.magasins-imgs img{
	width:109px !important;
	height:auto;
}		
	
#occasions{
	width:360px !important;
	}
.occasions-form{
	width:235px !important;
	}
.occasions-form form{
	margin-bottom:60px;
	width:240px !important;
	}
.deposez{
	display:block !important;
	float:left !important;
	width:230px;
	margin:-16px 5px 0 0;
	}
.occasions-content h6{
	float: left;
}
.occasions-imgs img{
	width:106px !important;
	height:auto;
	}
.occasions-form select{
	width:204px !important;
	}
.occasions-recherchez img{
	width:96px !important;
	height:auto;
	float:left !important

	}
#occasions-footer p{
	padding:3px 69px !important;
	margin:6px 0 0 -6px  !important;
}
	
#actualite{
	width:728px!important;
	}
#sliders{
	width:728px!important;

	}
ol.bjqs-markers{width:60% !important;}
ul.bjqs-controls.v-centered li a{margin:0px 0 0 0;}
#inscrire{
width:728px!important;
	}
.inscrire-left{	
	width:330px;
	}
.inscrire-right{
	width:370px;

	}
.inscrire-right a{
	margin:10px 0 7px 220px;

	}
.actualite-col3{
	width:234px;
	}
.actualite-col3right{
	width:230px;
	}
.actualite-col3right h3{
	width:44%;
	}
.actualite-col3 h3{
	width:49%;
	}
.actualite-col3 p, .actualite-col3right p{
	margin:10px 0 0 0;
	width:100%;
	display:block;
	float:left;

	}
.footer-logo{

	min-height:200px !important;}
.footer-col1{

min-height:63px !important;
	}
.footer-col2{

	background-image:none;
min-height:63px !important;
	}
.footer-col3{
	width:172px;
	padding:30px 11px 0 13px;	
	background-image:url(images/footer-sep.jpg);
	min-height:63px !important;
	}
.footer-col4{

	padding:30px 0 0 13px;
	min-height:63px !important;
	}
/**************************************************************************************/

#content-top{
	width:720px;	
	}
#navi-fiche{
	width:720px;
	}
#details{
	width:720px
	}
.col2{
	width:350px;
	}
.gallery{
	min-height:540px;
	}
.col21{
	width:100%
	}
.col21 img{
	width:100%;
	height:auto;
	}
.col22{
	width:100%;
	margin:10px 0 0 0;
	float:right;
	min-height:150px;
	}
.col2 input[type="text"]{

	width:240px;
}
.col2 textarea{
	width:240px;
}	
.col2 .inputcol2{
	width:64px !important;
	}	
.col2 .fomrinfo{
	width:240px;
	}
.condition{
	float:right;
	width:97px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	}
.top-left{
	width:250px;
	font-size:16px;
	}
.top-right{
	width:460px;
	font-size:18px;
	}
.contentrechercher{
	width:690px;
}
.contentrechercher-left{
	width:230px;
}
.contentrechercher-left h2{
	width:230px;
}
#poster{
	width:720px;
	}
.poster-left{
	
	width:392px;	
font-size:23px;
	
	}
.poster-right{

	width:262px;
	padding:23px 15px;
	font-size:23px;

	}
#navigation{
	width:720px;

}
#navigation .resultats{
	width:235px;
	padding:20px 0 0 15px;

}
#navigation .trier{
	width:120px;
	padding:15px 0 0 15px;

}
.result-col3{
	width:355px;
	margin:0  20px 20px 0;
	float:left;
	min-height:228px;
	border-bottom:1px solid #CACACA;
	}
.result-desc p{
	width:230px;}
.result-col3 h3{

	width:355px;

	}
.result-imgs img{
	width:355px;
	height:auto;}
.col3no{
	width:355px;
	margin:0  20px 20px 0 !important;
	float:left;
	min-height:228px;
	}
/*********************************************************************************************************************/

}
/************************************************************************************************************************/
/*@media only screen and (min-width: 100px) and (max-width: 669px) {*/
	@media only screen and (min-width: 100px) and (max-width: 640px) {
#wrapper{
	width:320px !important;
	overflow:hidden;

}
#header{
	width:300px !important;	
	overflow:hidden
	}

#header-right{
	width:60% !important;
	margin-top:-175px;
	float:right;
	text-align:right !important;

	}
#logo{
	
		float: left !important;
		margin-top:70px;}
#logo img{
		width:260px !important;
		height:auto !important;
	}
	
	
	
	
	
	
.header-top a{
	display:none}
.nomcompte{
	display:block !important;
	float:right;}

.header-menu{
	display:none !important}
#content{
	width:300px !important;
	overflow:hidden
	}
#magasins{
	width:290px !important;
	margin-left:5px !important;
	}
.magasins-form select{
	width:136px;
	}
#magasins-top h2{
	font-size:20px;

	}
.magasins-right{
	width:42%;
	font-size:11px;

	}
.magasins-content h6{
	text-align: center;
	}
.magasins-imgs{
	text-align:center;

	}

.magasins-imgs img{
	width:166px !important;
	height:auto !important;
	margin-bottom:10px
	}
#magasins-footer p{
	display:none}
#occasions{
	width:283px !important;
	margin-right:5px
	}
.occasions-form{
	width:160px !important;
	padding:5px 0 0 0px;
	}
.occasions-form select{
	width:124px !important;
	
	}	
#occasions-top h2{
	font-size:20px;

	}	
.deposez{
	display:block !important;
	float:left !important;
	width:230px !important;
	margin:-16px 5px 0 0;
	padding:3px 17px;
	}	
.occasions-imgs img{
	width:166px !important;
	height:auto !important;
	margin-bottom:10px
	}
.occasions-imgs{
	text-align:center;
	}	
#occasions-footer p{
	padding:3px 30px !important;
	margin:6px 0 0 -6px  !important;
}	
	
	
	
	
	
	
	
	
	

#magasins-top{
	background-image:url(images/magasins-top-tv.png) !important
	}
#occasions-top{
	background-image:url(images/occasions-top-tv.png) !important;
	}
magasins-footer
#occasions-footer{
	background-image:url(images/occasions-footer-tv.png) !important;
	}

	.magasins-recherchez{

	padding:0 0 30px 0;
	}

		
	


.occasions-form form{
	margin-bottom:60px;
	width:240px !important;
	}

.occasions-content h6{
	float: left;
}


.occasions-recherchez img{
	width:96px !important;
	height:auto;
	float:left !important

	}
.occasions-content h6{
	text-align:center !important;

	}

	
#actualite{
	width:280px!important;
	}
#sliders{
	width:280px!important;

	}
ol.bjqs-markers{width:50% !important; left:130px !important; }
ul.bjqs-controls.v-centered li img{width:50% ;}
ul.bjqs-controls.v-centered li a{margin:0px 0 0 0;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:-20px;}


#inscrire{
width:300px!important;
	}
.inscrire-left{	
	width:93%;
	text-align:center;;
	}
.inscrire-left a{
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#393939;
	text-decoration:none;
	font-weight:bold;
	margin:103px 0px 0 -220px !important ;
	width:162px;
	float:left;
	text-align: left;
	z-index:99
	
	}
.inscrire-right{
	width:93%;

	}
.inscrire-right input[type="submit"]{
	width:227px;
	background-color:#666666;
	border:0px;
	color:#FFF;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	cursor:pointer;
	padding:6px 0px;
	}
.inscrire-right a{
	margin:10px 0 7px 100px;

	}
#actualite h2{
	font-size:20px;
	}
.actualite-col3{
	width:285px;
	float:left;
	margin-bottom:10px
	}
.actualite-col3right{
		width:285px;
	float:left;
	}
.actualite-col3right h3{
	width:65%;
	font-weight:bold;
	}
.actualite-col3 h3{
	width:65%;font-weight:bold;
	}
.actualite-col3 p, .actualite-col3right p{
	margin:-10px 0 0 0;
	width:65%;
	display: inline-block !important;
	float:left;

	}
.footer-logo{

	min-height:79px !important;}
.footer-col1{
	width:100%;
	text-align:center;
	background:none;

	}
.footer-col2{
	width:100%;
	text-align:center;
	background-image:none;
min-height:63px !important;
	}
.footer-col3{
	width:100%;
	text-align:center;	
	background-image:none;
	min-height:63px !important;
	}
.footer-col4{
	width:100%;
	text-align:center;
	background:none;

	}
.footer-col2 select{
	
	margin:0 -40px 0 50px ;
	width:170px;
	text-align:center !important;
	}
.copy{
	width:280px !important;
	margin:0 0 0 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	float:left;
	display:block;
	}
	
	
/**************************************************************************************/

#content-top{
	width:300px;	
	}
#navi-fiche{
	width:230px;
	margin-left:30px
	}
#details{
	width:300px
	}
.paddin30{
	padding:0 10px !important;
	}
.col2{
	width:300px;
	}
.gallery{
	min-height:340px;
}
.flex-viewport li{
	width:75px !important;}
.flex-viewport img{
	width:75px !important;}
.col21{
	width:100%
	}
.col21 img{
	width:100%;
	height:auto;
	}
.col22{
	width:100%;
	margin:10px 0 0 0;
	float:right;
	min-height:150px;
	}
.col2 input[type="text"]{

	width:190px;
}
.col2 textarea{
	width:190px;
}	
.col2 .inputcol2{
	width:160px !important;
	}	
.col2 .fomrinfo{
	width:190px;
	}
.condition{
	float:right;
	width:190px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin-top:10px
	}	
/**********************************************************************************/
.top-right{
	width:300px;
	text-align:left !important;
	}
.contentrechercher{
	width:300px;
}
.contentrechercher-left{
	width:230px;
}
.contentrechercher-left h2{
	width:270px;
}
.contentrechercher-left p{
	width:270px;
}
.contentrechercher-right{

	width:300px;

	}
.zone{
	width:300px;
	float:left;
	border-right:0px;
	margin-left:40px;}
.vehicule{
	width:300px;
	float: left;
	padding:0 0 0 0px;
	margin-left:40px
}
.contentrechercher-right input[type=submit]{
	width:210px;
	float:left;
	margin-left:40px !important;

}
#poster{
	width:300px;
	}
.poster-left{
	
	width:300px;	
font-size:18px;
	
	}
.poster-right{

	width:280px;
	padding:23px 15px;
	font-size:23px;
	margin-left:0px !important;
	float:left

	}

#navigation{
	width:310px;
	background-image:url(images/navagation-mo.jpg) !important;
	background-repeat:no-repeat;
	background-position:top right;
	min-height:57px;	
	float:left;
}
#navigation .resultats{
	width:100%;
	text-align:center !important;
	padding:20px 0 0 0px;
	min-height:10px;

}
#navigation  .next-prev{
	width:270px;
	float:left;
	text-align:center !important;
	padding:10px 0 0 20px ;

	}
#navigation .trier{
	width:120px;
	float:left;
	padding:0px 0 0 15px;
	margin-left:50px;

}
#results-content{
	float:left;
	width:300px;
	padding-left:0px;
	
	}
.result-col3 h3{

	width:300px;

	}
.result-imgs img{
	width:300px;
	height:auto;}
.result-price{
	position:relative;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:bold;
	width:100px;
	min-height:34px;
	background-color:#FACB01;
	color:#FFF;
	float:right;
	font-size:24px;
	text-align:center;
	margin-top:-25px;
	margin:-10px 70px 0 0;
	z-index:999
	}
#login-c{
	width:300px;
	}
<<<<<<< HEAD
#login-c .col2{
	width:298px !important;
	}
#login-c .col2-lo{
	width:296px !important;	
	margin:16px 0 14px 0px !important;
}
#login-c form{
	padding:0px; margin:0px}	
.login{
	width:296px !important;
	border:1px solid #666;
	}
.btn-submit{
	width:256px;

}

	
=======
>>>>>>> 5173d1d86663367ad8e24a66d97cc6df36242452
}